{#
/**
 * @file
 * Theme override to display a node, based on core/themes/stable9.
 *
 * Available variables:
 * - node: The node entity with limited access.
 * - label: (optional) Title of the node.
 * - content: All node items. Use {{ content }} or subsets {{ content.field_xxx }}.
 * - author_picture, metadata, date, author_name, url, display_submitted, etc.
 * - attributes, title_attributes, content_attributes, author_attributes.
 * - title_prefix, title_suffix.
 * - view_mode, teaser, page (flags).
 *
 * @see template_preprocess_node()
 */
#}
<article{{attributes.addClass('node','node--type-'~node.bundle()|clean_class)}}>
	{{ title_prefix }}

	{# Si no es vista “page” imprimimos título enlazado #}
	{% if not page %}
		<header>
			<h2{{title_attributes}}>
				<a href="{{ url }}" rel="bookmark">{{ label }}</a>
			</h2>
		</header>
	{% endif %}

	{# Meta de autor y fecha #}
	{% if display_submitted %}
		<footer>
			{% if author_picture %}
				{{ author_picture }}
			{% endif %}
			<span>
				{{ 'Submitted by'|t }}
				{{ author_name }}
				{{ date }}
			</span>
			{{ metadata }}
		</footer>
	{% endif %}

	{# Contenido del nodo #}
	{# fue comentareado por que se hara de forma particular #}
	<div class="person-content">
		<div{{content_attributes}}>
			<div class="person-title">
				<h1>
					{{ label }}</h1>
			</div>
			{{ content }}
		</div>
	</div>
	{# fin de contenido del nodo #}
	{# Inicio de maqueta base de contenido #}
	<div class="person-content">
		<div class="d-flex row">
			{# seccion 1: se trae la img del campo: fotografia #}
			{#! Recomendacion: Validar si la imagen existe, renderizar esta parte. De lo contrario no #}
				<div class="col-sm-2"> 
					<img loading="lazy" src="/sites/default/files/loso-sistesma_0_0.png" alt="" typeof="foaf:Image" class="img-fluid">
				</div>
			{# fin seccion 1 #}
			<div
				class="person-info col-sm-10">
				{# Seccion 2: trae el texto de la seccion: titulo  #}
				<div class="person-title">
					<h1>
						{{ label }}</h1>
				</div>
				{# fin seccion 2 #}
				{# seccion 3: se trae el texto del campo perfil #}
				<div>
					<p>Profesional en Derecho de la Universidad Católica de Colombia, Especialista en Derecho Constitucional y Administrativo de la Universidad Católica de Colombia Sede Bogotá</p>
					<p>
						<strong>Cargo</strong>
						Apoyar la Gestión Precontractual, Contractual y Post Contractual y demás actividades jurídicas que requiera la Dirección.</p>
				</div>
				{# fin seccion 3 #}
				{# seccion 4: informacion de campos con permisos: correo electronico, cargo, extension, lugar y dependecia #}
				<div class="person-more-info d-flex flex-column">
					<div>
						<p>
							<strong class="field__label">Correo Electrónico</strong>
							<a href="mailto:Juan.Cruz@icbf.gov.co">Juan.Cruz@icbf.gov.co</a>
						</p>
					</div>
					<div>
						<p>
							<strong class="field__label">Cargo</strong>
							<a href="/referente-regional-del-snbf" hreflang="es">Referente Regional del SNBF</a>
						</p>
					</div>
					<div>
						<p>
							<strong class="field__label">Extensión</strong>
							868151
						</p>
					</div>
					<div>
						<p>
							<strong class="field__label">Prioridad</strong>
							2
						</p>
					</div>
					<div>
						<p>
							<strong class="field__label">Lugar</strong>
							<a href="/tolima" hreflang="es">Tolima</a>
						</p>
					</div>
					<div>
						<p>
							<strong class="field__label">Dependencia</strong>
							<a href="/direcciones-regionales/regional-tolima" hreflang="es">Regional Tolima</a>
						</p>
					</div>
				</div>
				{# fin seccion 4 #}
			</div>
		</div>
		{# Fin de maqueta de contenido #}
		{{ title_suffix }}
	</article>
