<div class="wf-content-b">
  <div class="custom-title">
    <h1>Acta 22_Reg_Casanare_2015 Comité ejecución presupuestal 04/06/2015</h1>
  </div>
  <form {{ attributes }}>{{ title_prefix }}
    {{ element }}
    {{ class }}
    {{ title_suffix }}</form>
</div>
