<div class="wf-content-b">
  <div class="custom-title">
    <h1>Pregunta de la Semana 1</h1>
  </div>
  <form {{ attributes }}>{{ title_prefix }}
    {{ element }}
    {{ class }}
    {{ title_suffix }}</form>
</div>
